// Frontpage Navigation
.fp-navigation {
    &#g-container-navigation {
        .g-main-nav {
            .g-toplevel {
                > li {
                    > .g-menu-item-container {
                        > .g-menu-item-content {
                            color: $base-background;
                        }

                        .g-menu-parent-indicator {
                            color: $base-background;
                        }
                    }

                    &:hover, &.active {
                        > .g-menu-item-container {
                            color: $navigation-text-color;

                            > .g-selected {
                                color: $navigation-text-color;
                            }

                            > .g-menu-item-content {
                                color: $navigation-text-color;
                            }

                            .g-menu-parent-indicator {
                                color: $navigation-text-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .g-logo {
        color: $base-background;
    }
}

// Header offset and tweaks
.fp-header {
    margin-top: -11rem;
    position: relative;
    .fp-header-slideshow {
        .g-content {
            margin: 0;
            padding: 0;
        }
        .g-owlcarousel-layout-standard .owl-item > div {
            .image {
                &:before {
                    @include linear-gradient(140deg, rgba(0,0,0,0.0) 50%, transparentize($accent-color-2, 50%) 50%);

                    .dir-rtl & {
                        @include linear-gradient(-140deg, rgba(0,0,0,0.0) 50%, transparentize($accent-color-2, 50%) 50%);
                    }
                }
            }
        }
        .g-owlcarousel-layout-standard .owl-item > div .g-owlcarousel-item-title {
            text-transform: uppercase;
        }
    }
}
// Slideshow section offset and tweaks
.fp-slideshow {
    .fp-slideshow-imagegrid {
        .g-content {
            margin: 0;
            padding: 0;
        }
    }
}
// Booking Form Frontpage specific look
.fp-showcase {
    margin-top: -20%;
    @include breakpoint(tablet-range) {
        margin-top: 0;
    }
    @include breakpoint(mobile-only) {
        margin-top: 0;
    }
}
.fp-bookingform {
    background: $base-background;
    .g-content {
        padding: $content-padding - 1 $content-padding - 1 0 $content-padding - 1;
    }
    border-radius: $border-radius;
    @include breakpoint(mobile-only) {
        border-radius: 0;
    }
    @include breakpoint(tablet-range) {
        border-radius: 0;
        width: 100%;
        @include flex(0 100%);

    }
    position: relative;
    z-index: 3;

    .g-bookingform-visible, .g-bookingform-hidden {
        @include display(flex);
        @include breakpoint(mobile-only) {
            @include flex-flow(row wrap);
        }

        .g-bookingform-item {
            @include flex(1 0 10rem);
            @include breakpoint(mobile-only) {
                @include flex(0 0 100%);
            }
            margin-bottom: 0;
        }
        .g-bookingform-spinner {
            @include flex(0 0 10%);
            @include breakpoint(mobile-only) {
                @include flex(0 0 100%);
            }
        }
        .g-bookingform-button1, .g-bookingform-button2, .g-bookingform-buttonback {
            @include flex(0 0 auto);
            @include breakpoint(mobile-only) {
                @include flex(0 0 100%);
            }
        }
        .g-bookingform-buttonback {
            margin-right: $content-margin;
            .dir-rtl & {
                margin-right: 0;
                margin-left: $content-margin;
            }
        }
    }
}

// Feature Adjustments
.fp-feature-simplecontent {
    text-align: center;
    color: $base-background;
    background: url('gantry-media://backgrounds/feature/img-05.jpg') no-repeat;
    background-size: cover;
    margin-bottom: $content-padding + $content-margin;
    @include breakpoint(mobile-only) {
        margin-bottom: 0;
    }
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    .g-content {
        margin: 0 $content-margin;
        padding: 0 $content-padding;
        @include breakpoint(mobile-only) {
            margin: $content-margin;
            padding: $content-padding;
        }
    }

    .g-simplecontent-item-content-title {
        font-size: 2vw;
        @include breakpoint(tablet-range) {
            font-size: $h2-font-size - 0.5;
        }
        @include breakpoint(mobile-only) {
            font-size: $h2-font-size;
        }
    }
    .g-simplecontent-item-leading-content {
        font-size: 1.2vw;
        @include breakpoint(tablet-range) {
            display: none;
        }
        @include breakpoint(mobile-only) {
            display: none;
        }
    }

    strong {
        font-size: $h1-font-size;
        font-weight: $font-weight-regular;
    }
    sup {
        font-size: $core-font-size + 0.5;
    }
    .g-simplecontent-item-main-content {
        padding: $content-padding 0;
        font-size: $core-font-size + 0.3;
    }
}
.fp-feature-imagegrid {
    margin-bottom: $content-padding + $content-margin;
    .g-content {
        padding: 0;
        margin: 0;
        margin-left: 1px;
    }
}
.fp-feature-simplemenu {
    .g-content {
        @include breakpoint(mobile-only) {
            @include justify-content(center);
            @include display(flex);
        }
    }
    .g-simplemenu-particle {
        .g-simplemenu {
            margin: 0 $content-padding * 2;
            @include breakpoint(tablet-range) {
                margin: 0 $content-padding;
            }
            @include breakpoint(mobile-only) {
                margin: 0;
            }
        }
        @include display(flex);
        @include justify-content(center);
        @include breakpoint(mobile-only) {
            display: block;
        }
        i {
            font-size: $core-font-size;
            color: $accent-color-1;
            margin-right: $content-margin;
            .dir-rtl & {
                margin-right: 0;
                margin-left: $content-margin;
            }
        }

        a {
            color: $base-text-color;
            font-family: get-font-family($font-family-default);
            font-style: italic;
            font-weight: $font-weight-regular;
            font-size: $core-font-size + 0.5;
            @include breakpoint(tablet-range) {
                font-size: $core-font-size + 0.2;
            }
        }
    }
    .g-content {
        padding-bottom: $content-padding * 2;
    }
}

// Expanded Adjustments
.fp-simplebooking {
    background: $base-background;
    border-radius: $border-radius;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: $content-padding * 4;

    .g-content {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .g-simplebooking-items, .g-simplebooking-form {
        margin-left: -($content-padding + $content-margin);
        margin-right: -($content-padding + $content-margin);
    }
    .g-simplebooking-form {
        padding-left: ($content-padding + $content-margin);
        padding-right: ($content-padding + $content-margin);
    }
    .g-simplebooking-items {
        .g-simplebooking-item {
            .g-simplebooking-item-container {
                padding-left: ($content-padding + $content-margin);
                padding-right: ($content-padding + $content-margin);
            }
        }
    }
}

// Social Description
.g-social-footer {
    text-align: right;

    @include breakpoint(mobile-only) {
        text-align: center;
    }
    .g-content {
        margin-left: 0;
        padding-left: 0;

        @include breakpoint(mobile-only) {
            margin-left: $content-margin;
            padding-left: $content-padding;
        }

        .dir-rtl & {
            margin-left: $content-margin;
            padding-left: $content-padding;
            margin-right: 0;
            padding-right: 0;
        }
    }

    .dir-rtl & {
        text-align: left;
    }

    h2 {
        font-size: $core-font-size + 0.3;
        display: inline-block;
        padding: 0;
        margin: 0;
        margin-right: $content-margin;

        @include breakpoint(mobile-only) {
            display: none;
        }
        @include breakpoint(tablet-range) {
            display: none;
        }
    }

    .g-social {
        display: inline-block;
    }
}

.g-simpleweather-footer {
    text-align: left;

    .g-content {
        margin-right: 0;
        padding-right: 0;

        @include breakpoint(mobile-only) {
            margin-right: $content-margin;
            padding-right: $content-padding;
        }

        .dir-rtl & {
            margin-right: $content-margin;
            padding-right: $content-padding;
            margin-left: 0;
            padding-left: 0;
        }
    }

    .dir-rtl & {
        text-align: right;
    }

    .g-simpleweather-title {
        font-size: $core-font-size + 0.3;
        font-family: get-font-family($font-family-default);
        font-weight: $font-weight-regular;
        color: $copyright-text-color;

        @include breakpoint(mobile-only) {
            display: none;
        }
        @include breakpoint(tablet-range) {
            display: none;
        }
    }
    .g-simpleweather {
        margin-top: -17px;
        color: $base-background;
        display: inline-block;
    }
}

//Copyright Fixes
.fp-copyright {
    .g-simplemenu-particle {
        h6 {
            white-space: nowrap;
        }
    }
    .g-simplemenu {
        white-space: nowrap;
        a {
            font-size: $core-font-size + 0.15;
            @include breakpoint(tablet-range) {
                font-size: 1.5vmax;
            }
            color: $copyright-text-color;
            font-weight: $font-weight-regular;
            &:hover {
                color: $white;
            }
        }
    }
    .g-simplecontent {
        .g-simplecontent-item-content-title {
            font-size: $core-font-size - 0.1;
            margin: 0.75rem 0 1.5rem 0;
            margin-bottom: $content-margin;
            opacity: 0.5;
            text-transform: uppercase;
        }
        .g-simplecontent-item-leading-content {
            margin: 0;
            font-size: $core-font-size;
            color: $copyright-text-color;
            font-family: get-font-family($font-family-default);
            font-weight: $font-weight-regular;
            font-style: normal;
        }
    }
    .g-newsletter-footer {
        .g-content {
            margin-left: 0;
            margin-right: 0;
            padding-left: 0;
            padding-right: 0;
            @include breakpoint(mobile-only) {
                margin: $content-margin;
                padding: $content-padding;
            }
        }
    }
}

// Particles Page
.g-particles-above {
    #g-abovemain {
        background: none !important;
    }
}
