.flush,
.g-flushed {
    > .g-container,
    > .g-content {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.g-container-flushed {
    margin: -4rem 0;
}

// no(margin/padding)(left/right/top/bottom)
// (margin/padding)(2x/3x)
$css_properties: "margin", "padding";
$css_directions: "left", "right", "top", "bottom", "all";
$css_multipliers: 2, 3;
@each $prop in $css_properties {
    @each $dir in $css_directions {
        .no#{$prop}#{$dir} {
            &, > .g-content {
                @if ($dir != "all") {
                    #{$prop}-#{$dir}: 0;
                } @else {
                    #{$prop}: 0;
                }
            }
        }
    }
    @each $multi in $css_multipliers {
        .#{$prop}#{$multi}x {
            > .g-content {
                @if ($prop == "padding") {
                    #{$prop}: $content-padding * $multi;
                } @else if ($prop == "margin") {
                    #{$prop}: $content-margin * $multi;
                }
            }
        }
    }
}

.center-block {
    text-align: center;
    margin: auto;
}

.g-center-vertical {
    @include display(flex);
    @include align-items(center);
}

.g-linethrough {
    text-decoration: line-through;
    opacity: 0.55;
}

.g-wrapper {
    z-index: 1;
    position: relative;
}

.noliststyle {
    list-style: none;
}

.g-bold {
    font-weight: $font-weight-bold;
}

.g-uppercase {
    text-transform: uppercase;
}

.g-compact {
    .g-container {
        padding: 0 !important;
    }
}

.g-sidebar-offset {
    margin-top: -4rem;
}

.g-sample-sitemap {
    line-height: $core-line-height + 0.2;
    font-size: $core-font-size + 0.1;
    font-family: get-font-family($font-family-default);
}

// DatePicker
// Date Picker
.ui-datepicker {
    padding: 0;
}

.ui-widget-content {
    border: none;
    background: $base-background;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.19);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.19);
    box-shadow: 0 1px 3px rgba(0,0,0,.19);
}

.ui-datepicker-header {
    position: relative;
    color: $base-background;
    padding: 0;
    border-bottom: none;
    overflow: hidden;
    text-transform: uppercase;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background: $accent-color-2;
}

.ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 2.2em;
    font-weight: normal;
    text-align: center;

    i {
        display: none;
    }
}

.ui-icon {
    i.fa {
        margin-top: 10px;
        text-align: center;
        display: block;
        color: $base-background;
    }
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    background: $accent-color-1;
    border: none;
    height: 2.2em;
    width: 1.4em;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover {
    background: $accent-color-2;
    border-color: $accent-color-2;
}

.ui-datepicker .ui-datepicker-prev {
    left: 0;
    border-right: 1px solid $accent-color-1;
}

.ui-datepicker .ui-datepicker-next {
    right: 0;
    border-left: 1px solid $accent-color-1;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    margin-top: -4px;
    top: 40%;
}

.ui-datepicker table {
    margin: 0;
}

.ui-datepicker th {
    padding: .6em 0 .4em;
    text-transform: uppercase;
    color: lighten($base-text-color, 10%);
    font-size: .8em;
    text-align: center;
    border-top: 1px solid lighten($base-text-color, 50%);
}

.ui-datepicker td {
    border: none;
    padding: 0;
    border-top: 1px solid lighten($base-text-color, 50%);
    border-right: 1px solid lighten($base-text-color, 50%);

    span, a {
        display: block;
        padding: $content-margin;
        @include breakpoint(mobile-only) {
            padding: $content-margin - 0.3;
        }
    }
}

td:last-child {
    border-right: 0;
}

td .ui-state-default {
    background: transparent;
    border: none;
    color: lighten($base-text-color, 20%);
    margin: 0;
    text-align: center;
}

.ui-datepicker-g-bookingform-calendar .ui-state-hover {
    background: #ededed;
    color: #b2b2b2;
}

td a.ui-state-active,
td a.ui-state-active.ui-state-hover {
    color: $base-background;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IzMmIwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NkMzAwYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    background: $accent-color-2;
}

.g-mobile-center-compact {
    @include breakpoint(mobile-only) {
        .g-container {
            padding: $content-padding 0;
        }

        .g-content {
            padding: 0 $content-padding;
            margin: $content-margin/2 $content-margin;
            text-align: center !important;
        }
    }
}
